* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;

}
body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#instagram-wrapper{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}
#instagram-phone{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#instagram-phone img{
  height: 50rem;
}
#instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  
  min-height: 14rem;
  height: 70%;
  margin-bottom: 7px
  
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgrey;
  margin: .5rem;
  margin-top: 3rem;
  
}
.group:nth-child(1) {
  min-height: 17rem;
}
#instagram-logo {
  height: 4em;
  margin-bottom: 1.6rem;
}
.textbox {
  display:flex;  
  
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 2px;
  color: #424242;
  background-color: #f1f1f1;
  padding: .8rem 7rem .9em 2rem;
  
}


#login-enter {     
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem;
}


#fb-login {
  display:flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  height: 2.5rem;
  color: #0003a3;
  background-color: rgb(245, 245, 245);
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

#new-account {
 margin-top: 1rem;
}
#mobile-links {
  margin-bottom:6rem;
  border: 1px solid transparent;
  border-radius: 4px;
  min-height: 2vh;
  margin-top: 1rem;
}

/* Media queries*/

@media (max-width: 1050px){
  #instagram-wrapper {
    width: 110%;
  }
}
@media (max-width: 830px){
  body{
    background-color: #ffffff;
  }
  
  #instagram-wrapper {
    width: 90%;
  }

  #instagram-phone {
    display:none;
  }

  #instagram-continue {
    width: 100%;
  }
  .group {
    border: 1px solid transparent;
  }
}
